/* Setting up custom properties */
:root {

    /* Fonts */
    --logo-font-family: 'Unica One', cursive;
    --primary-font-family: 'Roboto', sans-serif;

    /* Colours */

    --primary-colour-dark: #000;
    --secondary-colour-dark-1: #000814;
    --secondary-colour-dark-2: #001D3D;
    --secondary-colour-dark-3: #003566;
    --primary-colour-light: #fff;
    --secondary-colour-light-1: #E5E5E5;
    --secondary-colour-light-2: #FFD60A;
    --secondary-colour-light-3: #FFC300;

    /* Spacing */
    --level-1-padding: 16px 48px;
    --level-1-padding--no-topbottom: 0px 48px;
    --level-2-padding: 8px 16px;
    --level-2-padding-no-leftright: 16px 0px;
    --level-2-padding-no-topbottom: 0px 16px;

    /* Navigation item spacing */
    --nav-item-padding: 12px 8px;
    --nav-item-border: 1px solid var(--secondary-colour-dark);
    --nav-item-margin: 0px;

    /* Input elements */
    --input-element-padding: 0px;
    --input-element-border: 0px;
    --input-element-margin: 0px;
}

* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
}

/* Default image styling */
img {
    display: block;
    min-width: 0;
    min-height: 0;
    max-width: 100%;
    max-height: auto;
}

/* Default link styling */
a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary-colour-dark);
}

/* Navigation Section */

.navigation-container{
    text-align: center;
    border-bottom: 1px solid var(--secondary-colour-dark-2);
}

.logo{
    padding: 4px 0px 8px 0px;
    border-bottom: 1px solid var(--secondary-colour-dark-2);
}

.logo-text{
    display: inline-block;
    font-size: 2em;
    font-family: var(--logo-font-family);
    font-weight: bold;
}

.logo-text::after{
    position: relative;
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background: var(--secondary-colour-light-3);
}

.nav-item{
    padding: 8px;
    font-size: 1em;
    text-transform: uppercase;
    font-family: var(--logo-font-family);
}

.nav-item::after{
    position: relative;
    display: block;
    content: "";
    margin-top: 2px;
    height: 2px;
    width: 100%;
    background: none;
}

.nav-item.active::after{
    background: var(--secondary-colour-light-3);
    color: #FFC300;
}

.nav-item:hover::after{
    background: var(--secondary-colour-light-3);
}

.colour{
    color: var(--secondary-colour-light-3);
}

/* Hero section */
.hero{
    padding: var(--level-1-padding--no-topbottom);
    height: 640px;
    border-bottom: 1px solid black;
    background-color: #FFC300;
    background-image: url('../img/hero-background-wide.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline{
    font-size: 6em;
    font-weight: bold;
    text-align: center;
    padding: 32px 64px;
    color: var(--primary-colour-light);
}

.sub-heading{
    font-size: 1em;
    text-align: center;
    padding: var(--level-2-padding-no-leftright);
    color: var(--primary-colour-light);
}

.sub-heading .decorate{
    color: var(--primary-colour-light);
    border-bottom: 2px solid var(--secondary-colour-light-3);
}

.sub-heading .decorate:hover{
    color: var(--secondary-colour-light-3);
}

.fa-arrow-up-right-from-square{
    font-size: 0.8em;
    color: var(--secondary-colour-light-3);
}

/* NEWSLETTER AND CONTACT FORM */
.contact, .newsletter{
    border-bottom: 1px solid var(--primary-colour-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--level-1-padding);
}

.contact-form, .newsletter-form{
    width: 600px;
}

.contact-form *, .newsletter-form *{
    font-size: 1em;
}

input, textarea{
    display: inline-block;
    border: 1px solid black;
    padding: 16px;
    width: 100%;
    margin-bottom: 16px;
}

input[type="submit"]{
    cursor: pointer;
    background-color: var(--primary-colour-dark);
    color: var(--primary-colour-light);
}

input[type="submit"]:hover{
    color: var(--secondary-colour-light-3);
    /* box-shadow: 6px 6px 0px -2px var(--secondary-colour-light-3); */
}